/* Set the size of the div element that contains the map */
$gray: gray;
$green: green;
$light-green: rgb(21, 210, 4);

#map {
    height: 400px;
    width: 100%;
    margin: 2em 0;
}

.map-inputs {
    margin: 0 0 2em 0;

    input {
        width: 10rem;
        height: 3rem;
        border-radius: .5rem;
        border: 1px solid gray;
        padding: 0 .5rem;
    }
}

#getLocationBtn {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid $green;
    color: $green;
    background-color: transparent;

    &:hover {
        color: $light-green;
        border-color: $light-green;
    }

}